.smovie-label {
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  font-size: small;
}

.border-radius {
  border-radius: 10px !important;
  overflow: hidden;
}

.sbar-margin {
  margin-top: 10px;
}

