<ion-header>
    <ion-toolbar>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row class="justify-content-center">
                <ion-col class="align-self-center" size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-padding">
                        <ion-item>
                            <ion-label position="floating">Name</ion-label>
                            <ion-input formControlName="firstName" type="text" placeholder="Name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Last name</ion-label>
                            <ion-input formControlName="lastName" type="text" placeholder="Last name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Username</ion-label>
                            <ion-input formControlName="username" type="text" placeholder="Username"></ion-input>
                        </ion-item>
                        <small class="error ion-padding" style="color: #c10000"
                               *ngIf="errorControl.username.errors?.required">
                            Username is required.
                        </small>
                        <ion-item>
                            <ion-label position="floating">Email</ion-label>
                            <ion-input formControlName="email" type="email"
                                       placeholder="your@email.com"></ion-input>
                        </ion-item>
                        <small class="error ion-padding" style="color: #c10000"
                               *ngIf="errorControl.email.errors?.email">
                            Email is in wrong format.
                        </small>
                        <small class="error ion-padding" style="color: #c10000"
                               *ngIf="errorControl.email.errors?.required">
                            Email is required.
                        </small>
                        <ion-item>
                            <ion-label position="floating">Password</ion-label>
                            <ion-input formControlName="password" type="password"
                                       placeholder="Password"></ion-input>
                        </ion-item>
                        <small class="error ion-padding" style="color: #c10000"
                               *ngIf="errorControl.password.errors?.required">
                            Password is required.
                        </small>
                    </div>
                    <div class="ion-margin-top ion-padding">
                        <ion-button color="success" type="submit" (click)="register()" [disabled]="form.invalid"
                                    expand="block">Register
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <h6>Already have an account?</h6>
                    <ion-button class="ion-padding ion-margin-start ion-margin-end"
                                fill="outline"
                                color="primary"
                                expand="block"
                                [routerLink]="[ '/', 'login' ]">
                        Login
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

