<ion-header *ngIf="movie$|async as movie">
    <ion-toolbar [class.show-background]="showToolbarTitle">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/discover"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="addMovieToList(movie.id)">
                <ion-icon name="heart-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="[ '/', 'tabs','discover','search']">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="[ '/', 'tabs','discover','filters']">
                <ion-icon slot="icon-only" name="filter"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="showToolbarTitle && movie$|async as movie">{{movie.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
        fullscreen="true"
        [scrollEvents]="true"
        (ionScroll)="onScroll($event)"
        *ngIf="movie$ |async as movie"
>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="12">
                <span class="faded faded-bottom">
                  <ion-img *ngIf="movie.backdrop_path != null" [src]="imageBaseUrl + movie.backdrop_path"></ion-img>
                </span>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="ion-padding">
        <ion-row>
            <ion-col size="8">
                <ion-label>
                    <h1>{{ movie.title }}</h1>
                    <p class="release-date">
                        {{ releaseDate | date:'MMM y' }} <b>·</b> {{ runtimeH }}h
                        {{runtimeMin}}min
                    </p>
                    <p class="director" *ngIf="imdbMovie$|async as imdbMovie">Directed by: <br> <span
                            class="director-name"> {{ imdbMovie.Director }}</span></p>
                </ion-label>
                <br/>

                <ion-chip
                        *ngFor="let genre of movie.genres"
                        color="primary"
                        mode="ios"
                        outline="true"
                        class="font-x-s"
                >
                    <b>{{genre.name}}</b>
                </ion-chip>
            </ion-col>
            <ion-col size="4">
                <ion-img
                        *ngIf="movie.poster_path != null"
                        class="border-radius"
                        [src]="imageBaseUrl + movie.poster_path"
                ></ion-img>
                <ion-img
                        *ngIf="movie.poster_path == null"
                        class="border-radius"
                        src="../../../assets/icon/no-poster.png"
                ></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                <div class="rating">
                    <div class="rating-image-div">
                        <img class="rating-image" src="../../../assets/icon/tmdb.png"/>
                    </div>
                    <div class="rating-label-div">
                        <ion-label>
                            <h4 class="font-x-s">{{movie.vote_average}} / 10</h4>
                            <p class="font-x-s">
                                {{movie.vote_count}}
                                <ion-icon name="people"></ion-icon>
                            </p>
                        </ion-label>
                    </div>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="rating">
                    <div class="rating-image-div">
                        <img
                                class="rating-image-imdb"
                                src="../../../assets/icon/imdbLogo.png"
                        />
                    </div>
                    <div class="rating-label-div" *ngIf="imdbMovie$|async as imdbMovie">
                        <ion-label>
                            <h4 class="font-x-s" *ngIf="imdbMovie.imdbRating != 'N/A'">{{imdbMovie.imdbRating}} /
                                10</h4>
                            <h4 class="font-x-s" *ngIf="imdbMovie.imdbRating == 'N/A'">N/A</h4>
                            <p class="font-x-s">
                                {{imdbMovie.imdbVotes}}
                                <ion-icon name="people"></ion-icon>
                            </p>
                        </ion-label>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="sticky">
        <ion-toolbar>
            <ion-segment (ionChange)="segmentChanged($event)" value="info">
                <ion-segment-button value="info">Info</ion-segment-button>
                <ion-segment-button value="cast">Cast</ion-segment-button>
                <!-- <ion-segment-button value="crew">Crew</ion-segment-button> -->
                <ion-segment-button value="similar">Similar</ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </div>

    <!-- Ovo je za Info deo -->
    <div *ngIf="info" class="ion-padding">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="10">
                    <p class="ion-no-padding ion-no-margin">{{ movie.tagline | uppercase}}</p>
                    <p>{{ movie.overview }}</p>
                </ion-col>
                <ion-col size="2">
                    <ion-button (click)="textToSpeech(movie.overview)" fill="clear">
                        <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Title:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p class="info-content">{{ movie.title }}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Original Title:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p class="info-content">{{ movie.original_title }}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Status:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p class="info-content">{{ movie.status }}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Release Date:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p class="info-content">{{ releaseDate | date:'d. MMMM y.'}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Runtime:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p class="info-content">{{ runtimeH }}h {{runtimeMin}}min</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Budget:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p class="info-content" *ngIf="!movie.budget"> N/A</p>

                    <p class="info-content" *ngIf="movie.budget">{{ movie.budget | currency }}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Revenue:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p class="info-content" *ngIf="!movie.revenue"> N/A</p>

                    <p class="info-content" *ngIf="movie.revenue">{{ movie.revenue | currency}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Original Language:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p class="info-content">{{ movie.original_language | uppercase}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Production Company:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p
                            class="info-content"
                            *ngFor="let company of movie.production_companies"
                    >
                        {{company.name}}
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="4">
                    <p class="info-header">Production Country:</p>
                </ion-col>
                <ion-col size-md="8">
                    <p
                            class="info-content"
                            *ngFor="let country of movie.production_countries"
                    >
                        {{country.name}}
                    </p></ion-col
                >
            </ion-row>
        </ion-grid>
    </div>

    <!-- O vo je za Casto deo -->
    <div *ngIf="cast && credits$ |async as credits">
        <h4 class="ion-padding-horizontal ion-margin-bottom">
            Cast of: {{movie.title}}
        </h4>
        <ion-list *ngFor="let cast of credits.cast">
            <ion-item>
                <ion-avatar slot="start">
                    <img
                            *ngIf="cast.profile_path == null"
                            src="../../../assets/icon/profile.png"
                            alt=""
                    />

                    <img
                            *ngIf="cast.profile_path != null"
                            [src]="imageBaseUrl + cast.profile_path"
                    />
                </ion-avatar>
                <ion-label>
                    <h3>{{ cast.name }}</h3>
                    <p>{{ cast.character }}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <!-- Ovo je za Crew deo
    <div *ngIf="crew">
      <h4 class="ion-padding-horizontal ion-margin-bottom">
        {{movie.title}} crew
      </h4>
      <ion-list *ngFor="let crew of credits.crew">
        <ion-item>
          <ion-avatar slot="start">
            <img
              *ngIf="crew.profile_path == null"
              src="../../../assets/icon/profile.png"
              alt=""
            />

            <img
              *ngIf="crew.profile_path != null"
              [src]="imageBaseUrl + crew.profile_path"
            />
          </ion-avatar>
          <ion-label>
            <h3>{{ crew.name }}</h3>
            <p>{{ crew.job }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div> -->

    <!-- Ovo je za Similar deo -->
    <div *ngIf="similar && similarMovies$|async as similarMovies" class="ion-padding-horizontal">
        <h4>Similar movies to {{movie.title}}</h4>
        <ion-grid>
            <ion-row>
                <ion-col
                        size="4"
                        *ngFor="let smovie of similarMovies.results"
                        [routerLink]="[ '/', 'tabs','discover','movie', smovie.id ]"
                        class="ion-text-center"
                >
                    <ion-img
                            *ngIf="smovie.poster_path != null"
                            class="border-radius"
                            [src]="imageBaseUrl + smovie.poster_path"
                    ></ion-img>
                    <ion-img
                            *ngIf="smovie.poster_path == null"
                            class="border-radius"
                            src="../../../assets/icon/no-poster.png"
                    ></ion-img>

                    <ion-label>
                        <p class="smovie-label">{{ smovie.title }}</p>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <br/>
    <br/>
    <br/>
</ion-content>
